{% extends "baseSupAd.html.twig" %}

{% block stylesheets %} {{  parent() }} {% endblock %}

{% block title %} {{  parent() }} {% endblock %}


{% block body %}

<!-- .row -->
               <div class="row">
                  <div class="col-md-12">
                     <div class="white-box">
                        <h3 class="box-title">Votre compte a été bien créer. Vous recevrez un mail de confirmation. Veuillez cliquer sur le lien d'activation pour rendre opérationnel votre compte</h3>
                     </div>
                  </div>
               </div>
               <!-- .row -->


{% endblock %}

{% block javascript %} {{  parent() }} {% endblock %}
